*{
	margin: 0;
	padding: 0;
}
.header_top{
	width: 100%;
	height: 33px;
	border-bottom:1px solid #dfdfdf;
	background: #fafafa;
}
.header_top_con{
	width: 1000px;
	height: 33px;
	margin: 0 auto;
}
.header_top_con p{
	margin: 8px 0 11px 0;
}
.header_top_con_l{
	float: left;
}
.header_top_con .header_top_con_l a:nth-child(1){
	width: 101px;
	display: block;
	float: left;
	border-right: thin solid #dfdfdf;
	text-decoration: none;
	font-size: 12px;
	color: #999;
}
.header_top_con .header_top_con_l a:nth-child(2){
	width: 59px;
	display: block;
	float: left;
	border-right: thin solid #dfdfdf;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.header_top_con .header_top_con_l a:nth-child(3){
	width: 68px;
	display: block;
	float: left;
	border-right: thin solid #dfdfdf;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.header_top_con .header_top_con_l a:nth-child(4){
	width: 80px;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.header_top_con .header_top_con_l a:hover{
	color: #000;
}
.header_top_con_r{
	float:right;
}
.header_top_con .header_top_con_r a:nth-child(1){
	width: 34px;
	display: block;
	font-size: 12px;
	color: #3b3b3b;
	text-align: left;
	text-decoration: none;
	border-right: thin solid #9c9c9c;
	float: left;
}
.header_top_con .header_top_con_r a:nth-child(2){
	width: 34px;
	display: block;
	font-size: 12px;
	color: #3b3b3b;
	text-align: right;
	text-decoration: none;
	float: left;
}
.header_top_con .header_top_con_r a:hover{
	color: blue;
}
.header_mid{
	width: 100%;
	height: 102px;
	background: #f7f7f7;
	position: relative;
}
.header_mid_con{
	width: 1000px;
	height: 102px;
	margin: 0 auto;
	border-bottom: thin solid #efefef;
}
.header_mid_con img{
	float: left;
}
.header_mid_con .header_mid_con_r{
	width: 513px;
	height: 102px;
	float: right;
	position: relative;
}
.header_mid_con_r_t{
	width: 221px;
	height: 17px;
	border: thin solid #ff3c00;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}
.header_mid_con_r_t input{
	width: 204px;
	font-size: 12px;
	color: #FF3C00;
	float: left;
	border: none;
	outline: none;
}
.header_mid_con_r_t button{
	background: url(../img/saerch.jpg) no-repeat center;
	width: 17px;
	height: 17px;
	float: left;
	border: none;
}
.header_mid_con_r_m{
	width: 472px;
	height: 34px;
	border: thin solid #d4d4d4;
	float: left;
	margin:30px 0 0 0;
}
.header_mid_con_r_m img{
	float: left;
}
.header_mid_con_r_m input{
	width: 395px;
	height: 34px;
	float: left;
	border: none;
	outline: none;
}
.header_mid_con_r_m button{
	width: 34px;
	height: 34px;
	border: none;
	float: left;
	background: url(../img/search2.jpg) no-repeat center;
}
.header_mid_con_r_b{
	font-size: 12px;
	float: left;
	margin: 10px 0 0 0 ;
	color: #a9a9a9;
}
.header_mid_con_r_b a{
text-decoration: none;
color: #a9a9a9;
margin-right: 10px;}
.header_mid_con_r_b a:hover{
	color: #129be8;
}
.header_mid_con_r_b a:last-child{
	margin-right:0 ;
}
.header_bot{
	width: 1000px;
	height: 49px;
    margin: 0 auto;
    position: relative;
    border-bottom:1px solid #f0f0f0 ;
}
.header_bot p a{
	text-decoration: none;
	font-size: 14px;
	color: #3b3b3b;
	width: 100px;
	display: block;
	height: 49px;
	line-height: 49px;
	float: left;
	text-align: center;
}
.header_bot p a:nth-child(7){
	background: url(../img/dian_16.jpg) no-repeat right 16px;
}
.header_bot p a:hover{
	color:blue;
}
.header_bot_hidder1,.header_bot_hidder2,.header_bot_hidder3{
	width: 604px;
	height: 39px;
	background: #fff;
	position: absolute;
	top: 53px;
	left: 0;
	display: none;
}
.header_bot_hidder1 a{
	line-height: 39px;
	text-decoration: none;
	font-size: 12px;
	display: block;
	float: left;
	margin: 0 20px 0 14px;
	color: #4d4b4c;
}
.header_bot_hidder2 a,.header_bot_hidder3 a{
	line-height: 39px;
	text-decoration: none;
	font-size: 12px;
	display: block;
	float: left;
	margin-right: 14px;
	color: #4d4b4c;
}
.header_bot_hidder1 a:hover,.header_bot_hidder2 a:hover,.header_bot_hidder3 a:hover{
	color: #129BE8;
	text-decoration: underline;
}

.header_mid_con_r #hidden2{
	width: 79px;
	height: 52px;
	position: absolute;
	top: 66px;
	left: 0;
	background:#fff;
	display: none;
}
.header_mid_con_r #hidden2 p{
	float: left;
}
.header_mid_con_r #hidden2 a{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
.header_mid_con_r #hidden2 img{
	padding-left:12px ;
}
.header_mid_con_r #hidden2 a:hover{
	color: #129BE8;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
.content_top{
	width: 283px;
	height: 41px;
	float: right;
	font-size: 12px;
	color: #7c7c7c;
}
.content_top a{
	text-decoration: none;
	font-size: 12px;
	color: #7c7c7c;
	float: left;
	text-align: center;
	margin: 13px 0 0 0;
}
.content_top a:nth-child(2){
	width: 60px;
	display: block;
	border-right: thin solid #7c90c1;
}
.content_top a:nth-child(3){
	width: 89px;
	display: block;
	border-right: thin solid #7c90c1;
	color: #fc2500;
}
.content_top a:nth-child(4){
	width:70px;
	display: block;
	text-align: right;
}
.content_top a:hover{
	color: #129BE8;
}
.content_top a:nth-child(1):hover{
	color: #7C7C7C;
}
.content_top a:nth-child(3):hover{
	color: #fc2500;
}
.content_bot{
	width: 1000px;
	height: 641px;
	float: left;
	position: relative;
}
.content_bot .content_l{
	width: 700px;
	height: 641px;
	float: left;
}
.content_l .content_l_t{
	width: 700px;
	height: 240px;
	position: relative;
	overflow: hidden;
}
.content_l .content_l_t ul{
	position: absolute;
	top:0;
	left:0;
}
.content_l .content_l_t li{
	width: 700px;
	height: 240px;
	list-style: none;
	float: left;
}
.content_l .content_l_t li a{

}
.content_l #left{
	width: 32px;
	height: 65px;
	background: url(../img/left.png) no-repeat center;
	position: absolute;
	top:100px;
	left:0;
	z-index: 1;
	border: none;
	outline: none;
}
.content_l #right{
	width: 32px;
	height: 65px;
	background:url(../img/right.png) no-repeat center;
	position: absolute;
	top: 100px;
	left:668px;
	z-index: 1;
	border: none;
	outline: none;
}
.content_l .conntent_l_m{
	width: 695px;
	height: 37px;
	border-left:4px solid #129be8 ;
	border-top: thin solid #efefef;
	border-right: thin solid #efefef;
	border-bottom: thin solid #efefef;
	margin-top: 15px;
	background: #fbfbfb;
}
.content_l .conntent_l_m p{
	color: #3b3b3b;
	line-height: 37px;
	margin-left: 15px;
	font-size: 12px;
}
.content_l .conntent_l_m a{
	text-decoration: none;
	color: #129be8;
	font-size: 12px;
	float: right;
	padding-right: 10px;
}
.content_l .conntent_l_m a:hover{
	text-decoration: underline;
}
.content_l_b
{
	width: 698px;
	height: 349px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.content_l_b .content_l_b_left{
	width: 273px;
	height: 349px;
	float: left;
}
.content_l_b_left a{
	width: 273px;
	display: block;
	float: left;
}
.content_l_b_left a:nth-child(1){
	text-decoration: none;
	color: #3b3b3b;
	font-size: 14px;
	line-height: 43px;
	padding-left: 15px;
}
.content_l_b_left a:hover{
	color: #0000FF;
}
.content_l_b .content_l_b_right{
	width: 425px;
	height: 348px;
	float: left;
}
.content_l_b_right h4{
	padding: 0 41px 0 27px;
	line-height: 44px;
}
.content_l_b_right p{
	font-size: 12px;
	color: #707070;
	line-height: 21px;
	padding: 0 19px 0 0;
}
.content_l_b_right hr{
	margin-top:16px ;
	width:410px;
	border:1px dashed #c5c5c5;
}
.content_l_b_right a{
	color: #707070;
	text-decoration: none;
	line-height: 30px;
}
.content_l_b_right a:nth-child(1){
	color: #12a7ed;
}
.content_l_b_right a:hover{
	color: #12a7ed;
}
.content_r{
	width: 288px;
	height: 641px;
	float:right;
}
.content_r .content_r_t{
	width: 288px;
	height: 238px;
	float: left;
	border: 1px solid #efefef;
}
.content_r_t .content_r_t_top{
	height: 57px;
	float: left;
}
.content_r_t_top h3{
	color: #80b1e9;
	float: left;
	margin: 20px 48px 0 13px ;
}
.content_r_t_top p{
	float: left;
}
.content_r_t_top a{
	text-decoration: none;
	font-size: 12px;
	float: left;
	margin: 27px 0 0 0;
	width: 53px;
	height: 13px;
	color: #867070;
	display: block;
}
.content_r_t_top a:nth-child(1){
	border-right: thin solid #9c709c;
}
.content_r_t_top a:nth-child(2){
	text-align: right;
}
.content_r_t_top a:hover{
	color: #12a7ed;
}
.content_r_t .content_r_t_bot{
	width: 288px;
	height: 179px;
	float: left;
}
.content_r_t_bot img:nth-child(1){
	margin: 0 0 0 9px;
} 
.content_t_b{
	width: 288px;
	height: 386px;
	margin: 15px 0 0 0;
	float: left;
}
.content_t_b .content_t_b_top{
	width: 285px;
	height: 37px;
	border-left:4px solid #129be8 ;
	border-right: 1px solid #efefef;
	border-top: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	background: #fbfbfb;
}
.content_t_b_top p{
	color: #3b3b3b;
	margin: 13px 0 0 15px;
	margin-left: 15px;
	font-size: 12px;
}
.content_t_b_top a{
	text-decoration: none;
	color: #129be8;
	font-size: 12px;
	float: right;
	padding: 0 10px 0 0;
}
.content_t_b_top a:hover{
	text-decoration: underline;
}
.content_t_b_bot{
	width: 288px;
	height: 348px;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	border-left: 1px solid #efefef;	
}
.content_t_b_bot img{
	width: 133px;
	height: 82px;
	margin: 14px 0 0 10px;
	float: left;
}
.content_t_b_bot p{
	width: 120px;
	height: 82px;
	display: block;
	float: left;
	margin: 14px 0 0 11px;
	font-size: 12px;
}
.content_t_b_bot p a{
	width: 120px;
	text-decoration: none;
	
	display: block;
}
.content_t_b_bot p a:nth-child(1){
	margin: 3px 0 7px 0;
	color: #3b3b3b;
}
.content_t_b_bot p  a:nth-child(2){
	line-height: 17px;
	margin-bottom: 10px;
	color: #707070;
}
.content_t_b_bot p a:hover{
	color: #129BE8;
}
